[Unit]
Description=Run Spark Swarm PostgreSQL backup health check hourly

[Timer]
OnBootSec=20min
OnUnitActiveSec=1h
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
